body{
    background-image: url(../imagenes/fondo.jpg);
    background-position: left left 50%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #14223D;
    
    font-size: 28px;
    margin: 10px;
    padding: 10px;
}

/*Contenedor del titulo principal-header*/
.flex-container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
            border: 2px solid blue
}
.flex-imglogo{
    max-width: 10%;
    max-height: 10%;
    padding-left: 1.5%;
    justify-self: center;
}
    
.flex-texth1{   
    width: 26%;
    font-size: 30px;
    padding-left: 1.5%;
 
    
    
            border: 2px solid red
}
.flex-texth11{
    width: 15%;
    font-size: 30px;
    align-self: left;
    justify-items: left;
    padding-left: 1.5%;
    margin-right: 30%;

        
            border: 2px solid red
}


/*Contedor lista de beneficios/Menu principal*/
.flex-container2{
    display:flex;
    width: 100%;
    margin-bottom: 30px;
    justify-content: space-around;
    background-position: center;
    
    
            border: 2px solid blue
}
.flex-text1{
    margin-bottom: 90px;

            border: 2px solid red
    
}
.flex-text2{
    margin-bottom: 90px;
            border: 2px solid red
    
}
.flex-text3{
    margin-bottom: 90px;
            border: 2px solid red
    
}
.flex-text4{
    
            border: 2px solid red
    
}
.flex-button1{
    width: 21%;
    height: 27%;
}


/*Contenedor descripción de beneficios/Menu secundario*/
.flex-container3{
    display:flex;
    flex-direction: column;
    width: 100%;

    
    
    border: 2px solid blue
}
.flex-1parte{
    width: 50%;
    align-self: flex-start;
    border: 2px solid red
    
}
.flex-2parte{
    width: 50%;
    align-self: flex-end;
    
    border: 2px solid red
    
}
.flex-3parte{
    width: 50%;
    align-self: flex-start;
    border: 2px solid red
}
.flex-4parte{
    width: 50%;
    align-self: flex-end;
    
    border: 2px solid red
    
}
/*Contenedor clases redes sociales*/
.flex-container4{
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    justify-content: center;


    
    
}

.imgfacebook{
    width: 60px;
    height: 60px;
}
.imginsta{
    width: 60px;
    height: 60px;
}
.imgtwitter{
    width: 60px;
    height: 60px;
}
.imglinkeding{
    width: 60px;
    height: 60px;
}
/*Clases para HTML*/
.mr{
    border: 2px solid red
}
.mb{
     
    border: 2px solid blue
}
.my{
     border: 2px solid yellow
}
.imgsize{
        
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}
.fontcolororange{
    color:#fca311;
}
.fontcolorblue{
    color:#14213D;
}




    